.content {
  background-color: #f1a90d;
  width: 88%;
  margin: auto;
  text-align: center;
  color: rgb(40, 3, 109);
}
.gold{
  font-size: 25px;
  color: gold;
}
.star{
  font-size: 25px;
  
  cursor: pointer;
}
.golder{
  font-size: 25px;
  color: gold;
  cursor: pointer;
}
.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 5mm;
}
.input {
  width: 80%;
}
.filter{
  display: flex;
  flex-direction: row;
  margin-left:200mm;
  align-items: center;
  padding-bottom: 5mm;
  gap: 5mm;
  padding-top: 5mm;
  font-size: 25px;
}
.sous-list {
  display: grid;
  grid-template-columns: 1fr ;
  width: 100%;
  margin-left: 5mm;
  align-content: center;
  align-items: center;
  margin-top: 20px;
}
.trd{
text-align: center; 
}
.lcard{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5mm;
  align-content: space-around;
  width: 90%;
  margin: auto;
  padding-top: 5mm;
  padding-bottom: 5mm;
  
}
.btn-back{
  width: 30%;
  color: white;
  background-color: red;
  margin: auto;
  margin-top: 5mm;
  margin-bottom: 5mm;
  border-radius: 7px;
  font-weight: bold;
  height:30px;
}
.card{
  color: black;
  display: flex;
  flex-direction: column;
  width: 90%;
  border: solid;
  border-color: black;
  /*background-color: rgb(204, 187, 113);*/
  margin: auto;
  text-align: center;
}
.card1{
  color: black;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  text-align: center;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
